<nav class="navbar navbar-dark navbar-expand bg-warning ps-5">
  <i class="bi bi-ticket-perforated-fill text-dark mx-2"></i>
  <a class="navbar-brand text-dark"><b>{{title | titlecase}}</b></a>
  <a class="nav-item nav-link text-dark" routerLink="/">Accueil</a>
  <a class="nav-item nav-link ms-3 text-dark" routerLink="/add-user">Inscription</a>
  <a class="nav-item nav-link ms-3 text-dark" routerLink="/user-page">Mon espace</a>
  <a class="nav-item nav-link ms-3 text-dark" routerLink="/movies">Gestion de films</a>
  <a class="nav-item nav-link ms-3 text-dark" routerLink="/panel-admin">Panel Administrateur</a>
</nav>
