<div class="card shadow m-4" style="width: 18rem; min-height: 55rem">
    @if(movie.image) {
      <img [src]="'http://localhost:8080/movies/'+ movie.id +'/image'" class="card-img-top" alt="">
    }
    <div class="card-body">
      <h4 class="card-title">{{movie.title}}</h4>
      <h5 class="card-text">{{movie.director}}</h5>
      <h6 class="card-text">{{movie.releaseDate | date}}</h6>
      <p class="card-text">{{movie.synopsis}}</p>
      <span>
        <a class="btn btn-warning" [routerLink]="'avis-film/' + movie.id">Voir ses avis</a>
        <label class="note mx-3">Note: {{movie.rate}}</label>
      </span>
    </div>
  </div>
  